* {
  box-sizing: border-box;
  margin: 0%;
  max-width: 100%;
}

html,
body {
  min-height: 100vh;
  max-height: 100vh;
  background-color: slateblue;
}


.container {
 
  padding: 50px;
  margin: 0px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;

}

.container1 {
  background-color: rgb(111, 73, 131);
  width: 80%;
  margin: 0px auto;
  padding: 2em;
  border-radius: 10px;
}

#btn1{
    padding: 1em;
    border-radius: 10px;
    font-weight: bolder;
   
  
}

.container2 {
  width: 80%;
  margin: 0px auto;
  border-radius: 10px;
}

#btn2{
padding: 1em;
    border-radius: 10px;
    font-weight: bolder;
    width: 100%;
}
#btn1:hover, #btn2:hover{
    cursor: pointer;
    border-radius: 25px;
background-color: slateblue;
color: aliceblue;
padding: 13px;
transition: .3s;


}
footer{
    background-color: rgb(211, 211, 60);
    padding: 2rem;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
}